{% extends "base.html" %}

{% block content %}
<h1>{{ artist.name }}</h1>
<img src="{{ url_for('static', filename=artist.photo)}}" class="img-thumbnail float-start" style="width: 260px"
     alt="...">
<p style="padding-left: 270px">{{ artist.initial_text }}</p>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Биография
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">{{ biography }}</div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Интересные факты
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    {% for fact in facts %}
                    <li>{{ fact }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Семья
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">{{ family }}</div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Награды
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    {% for fact in awards %}
                    <li>{{ fact }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Самые известные работы
            </button>
        </h2>
        <style>
            .text-white {
                color: #fff;
            }

            .hover-blur a {
                display: block;
                position: relative;
                overflow: hidden;
                cursor: default;
            }

            .hover-blur img {
                width: auto;
                height: auto;
                margin: auto;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }

            .hover-blur:hover img {
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -o-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
                -webkit-filter: grayscale(0.6) blur(1px);
                filter: grayscale(0.6) blur(1px);
            }

            .hover-blur a h2 {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 0px;
                margin-bottom: 0px;
                height: 100%;
                width: 100%;
                padding: 12.8% 36%;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.5);
                /*background dotted*/
                background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8) 1px, transparent 1px, transparent 100%);
                background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8) 1px, transparent 1px, transparent 100%);
                background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8) 1px, transparent 1px, transparent 100%);
                background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8) 1px, transparent 1px, transparent 100%);
                -webkit-background-size: 3px 3px;
                -moz-background-size: 3px 3px;
                background-size: 3px 3px;
                -webkit-transition: all 0.5s linear;
                -moz-transition: all 0.5s linear;
                -o-transition: all 0.5s linear;
                -ms-transition: all 0.5s linear;
                transition: all 0.5s linear;
                -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
                opacity: 0;
            }

            .hover-blur:hover a h2 {
                -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
                filter: alpha(opacity=100);
                opacity: 1;
            }

            .hover-blur .text-white {
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
                -o-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                -webkit-transition: all 0.5s linear;
                -moz-transition: all 0.5s linear;
                -o-transition: all 0.5s linear;
                -ms-transition: all 0.5s linear;
                transition: all 0.5s linear;
                -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
                opacity: 0;
            }

            .hover-blur:hover .text-white {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                -webkit-transition: all 0.5s linear;
                -moz-transition: all 0.5s linear;
                -o-transition: all 0.5s linear;
                -ms-transition: all 0.5s linear;
                transition: all 0.5s linear;
                -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
                filter: alpha(opacity=1);
                opacity: 1;
            }

        </style>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for elem in list_of_images %}
                        <div class="carousel-item hover-blur {% if loop.first %} active {% endif %}" data-bs-interval="10000000">
                            <a href="" title="" class="d-block">
                                <img src="{{ url_for('static', filename=elem[0]) }}" class="d-block"/>
                                <h2><span class="text-white">{{ elem[1] }}</span></h2>
                              </a>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="mt-2">
                    <form class="surname_form" method="post" enctype="multipart/form-data">
                        <div class="form-group mb-2">
                            <label for="photo">Новое фото</label>
                            <input type="file" class="form-control-file" id="photo" name="file">
                        </div>

                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}