{% extends "base.html" %}

{% block content %}
<h1>Posts</h1>
{% if current_user.is_authenticated %}
    <a href="posts" class="btn btn-secondary">Adding a post</a>
{% endif %}
<a href="/departments" class="btn btn-secondary">Departments</a>
{% for item in posts%}
<div class="col-md6 border rounded">
    <br>
    <h2>Post #{{item.id}}</h2>
    <div>

        <table cellspacing="5" cellpadding="10">
            <tr>
                <td class="alert alert-info" role="alert">Text</td>
                <td class="alert alert-info" role="alert">Author</td>
                <td class="alert alert-info" role="alert">Photo</td>
                <td class="alert alert-info" role="alert">Hazard category</td>
                <td class="alert alert-info" role="alert">Is finished</td>
            </tr>
            <tr>
                <td>{{item.text}}</td>
                <td>{{item.author}}</td>
                <td>{{item.photo}}</td>
                <td>{{item.category}}</td>
                {% if item.is_finished %}
                    <td class="alert alert-success" role="alert">Is finished</td>
                {% else %}
                    <td class="alert alert-danger" role="alert">Is not finished</td>
                {% endif %}
            </tr>
        </table>
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/posts/{{ item.id }}" class="btn btn-warning">
            Edit post
        </a>
        <a href="/posts_delete/{{ item.id }}" class="btn btn-danger">
            Delete post
        </a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}